
/* .App {
  text-align: center;
  color: purple;
  font-weight: 500;
}
button
{
    height: 40px;
    width: 80px;
    background-color: white;
    border: 1.5px solid black;
    color:  black;
    border-radius: 5px;
    margin-bottom:20px ;
}
button:hover
{
    background-color: purple;
    color: white;
    font-weight: bold;
    transition: 0.5s;
} */
